.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: whitesmoke;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
  /* display: flex;
  justify-content: center; */
}

.news {
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: right;
}

#search-button {
  background: url("./images/search-icon.webp") no-repeat;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-size: contain;
}

#search-input {
  border: 1px solid grey;
  border-radius: 7px;
}

.alert {
  text-align: center;
}

.pagination {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
